body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.contenedor {
    width: 1200px;
    min-height: 450px;

    padding: 0px 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: hsl(0, 0%, 100%); /* White background with 80% opacity */

    box-sizing: border-box;

    border-radius: 10px;
    transition: box-shadow 0.3s ease
}

h1, h2 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-family: "Berlin Sans FB Demi", sans-serif;
}

table th, table td {
    border: 1px solid #000000;
    padding: 8px;
    text-align: center;
}

table th {
    background-color: #f6cb99;
    color: #333;
}

p {
    margin: 5px 0;
}

#paciente-info {
    font-family: "Berlin Sans FB Demi", sans-serif;
   font-size: 20px;
}

#juegos-lista {
    margin: 20px 0px;
}