/* Framework */
.back-color-primary {
    background-color: white;
}

.back-color-secondary {
    background-color: rgb(241, 181, 123);
}

.padding-0 {
    padding: 0;
}

.margin-0 {
    margin: 0;
}

/* Bordes */
.border-1-black {
    border: 1px solid black;
}

/* Fuentes */
.font-arial {
    font-family: Arial, sans-serif;
}

.font-impact {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* Estilos */
.ul-list-style-none {
    list-style: none;
}

/* Clases propias */
body {
    background-color: white;
    margin: 0px;
}

a {
    text-decoration: none;
}

.barra {
    height: 70px;
    width: 100%;
}

.bienvenida {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-image: url("../img/Fondo nubes.png");
    background-size: cover;
    background-position: center;
}

.imagen-index {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.imagen-index img {
    width: 80%;
    height: 80%;
    object-fit: contain;
}

.titulo-login {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.titulo-TASE {
    font-size: 120px;
    margin: 0px;
}

.titulo-recuadro {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 80%;
    border-radius: 10px;
    background-color: white;
}

.titulo-principal {
    font-size: 60px;
    display: block;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #333;
}

.terapeuta {
    font-size: 30px;
    text-align: left;
    color: #333;
}

.boton {
    font-size: 20px;
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-weight: bold;
    background-color: rgba(241, 191, 82, 0.925);
    color: rgb(59, 54, 54);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.boton:hover {
    background-color: rgb(235, 164, 12);
    /* Cambia el color de fondo al hacer hover */
    transform: scale(1.05);
    /* Aumenta ligeramente el tamaño del botón */
}

.login-recuadro {
    display: inline-block;
    padding: 20px;
    margin: 20px auto;
    width: 200px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Añade una sombra ligera */
    transition: box-shadow 0.3s ease;
    /* Añade una transición suave */
}

.login-recuadro:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    /* Aumenta la sombra al hacer hover */
}

.barra-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 140px;
}

.informacion-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: ghostwhite;
    font-size: 20px;
}

.informacion-footer h2 {
    margin: 0px 0px 10px 30px;
}

.informacion-footer ul {
}

.informacion-footer ul li {
    margin: 0px 0px 5px 0px;
}

.imagen-footer {
    display: flex;
    height: 70px;
    object-fit: contain;
}

.imagen-footer img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    align-items: flex-end;
}

