body {
    font-family: Arial, sans-serif;
    background-color: hsl(30, 90%, 70%);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

form {
    padding: 20px;
    border-radius: 10px;
    width: 100%;
}
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}
input[type="email"],
input[type="password"] {
    width: calc(100% - 22px); /* Ajusta el ancho para que coincida con el padding y el borde */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
}

input[type="submit"] {
    width: calc(100% - 22px); /* Ajusta el ancho para que coincida con el padding y el borde */
    padding: 10px;
    background-color: orange;
    color: white;
    border: black;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
}

input[type="submit"]:hover {
    background-color: orangered;
}


.recuadro {
    border: 2px solid black;
    padding: 20px;
    margin: 20px auto;
    width: 400px; /* Establece un ancho fijo para el recuadro */
    background-color: white;
    border-radius: 10px;
    transition: box-shadow 0.3s ease; /* Añade una transición suave */
}

.recuadro:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Añade una sombra al hacer hover */
}