body{
    /* cambiar la fuente de letra*/
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: hsl(30, 90%, 70%);
}
.container {
    margin-top: 50px;
}
/* Aqui es el area del juego*/
.game-area{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 25px;
    font-size: 30px;
}
/* aqui es donde van los objetos del juego*/
.object {
    width: 150px;
    height: 50px;
    border: 2px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    cursor: grab; /*cambiamos a un amanita el mouse*/
}
.message{
    font-size: 20px;
    color:chartreuse;
    margin-top: 20px;
}

.ganador {
    display : none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: chartreuse;
}
.contenido-ventana {
    background-color: antiquewhite;
    margin: 15% auto;
    padding: 20%;
    border: 1px solid #888;
    width: 300px;
    text-align: center;
    border-radius: 10px;
}
.cerrar {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
.cerrar:hover, .cerrar:focus{
    color: black;
    text-decoration: none;
}
.titulo-principal{
    font-size: 30px;
    color: black;
}
.boton {
    font-size: 20px;
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.925);
    color: rgb(59, 54, 54);
    border: black 2px solid;
    border-radius: 5px;
    cursor: pointer;
}