body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenedor {
    width: 600px;
    height: 300px;

    padding: 0px 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: hsl(0, 0%, 100%); /* White background with 80% opacity */

    box-sizing: border-box;

    border-radius: 10px;
    transition: box-shadow 0.3s ease
}

h1 {
    margin-bottom: 20px;
}

.buscador-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    text-align: center;
}

#buscadorPacientes {
    width: 80%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tabla-pacientes {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.tabla-pacientes th, .tabla-pacientes td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

.tabla-pacientes th {
    background-color: #007BFF;
    color: white;
}

.tabla-pacientes tr:nth-child(even) {
    background-color: #f9f9f9;
}

.tabla-pacientes tr:hover {
    background-color: #f1f1f1;
}

.link-paciente {
    color: #007BFF;
    text-decoration: none;
}

.link-paciente:hover {
    text-decoration: underline;
}

.pacientes-container p {
    text-align: center;
    font-size: 1.1em;
    color: #666;
    margin-top: 20px;
}

