body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.contenedor-login {
    width: 600px;
    height: 300px;

    padding: 0px 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: hsl(0, 0%, 100%); /* White background with 80% opacity */

    box-sizing: border-box;

    border-radius: 10px;
    transition: box-shadow 0.3s ease
}

h1 {
    margin-bottom: 20px;
}

form {
    padding: 20px;
    border-radius: 10px;
    width: 100%;
}

label {
    display: block;
    margin-left: 20px;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    width: 100%;
}

input[type="text"] {
    width: calc(100% - 22px);
    height: 60px;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 50px;
}

@keyframes colorFlow {
    0% {
        background-color: rgb(243, 144, 116);
    }
    50% {
        background-color: #eb690c;
    }
    100% {
        background-color: rgb(243, 144, 116);
    }
}

input[type="submit"] {
    width: calc(100% - 22px);
    font-family: "Berlin Sans FB";
    font-size: 30px;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    animation: colorFlow 7s infinite;
}

input[type="submit"]:hover {
    transform: scale(1.1);
}

#error {
    color: red;
    margin-top: 15px;
}

#form-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recuadro-boton {
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 10px 0px;
}