body {
    font-family: Arial, sans-serif;
    background-image: url("../img/Fondo nubes.png");
    background-size: cover;
    background-color: hsl(30, 90%, 70%);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    padding: 20px;
    border-radius: 10px;
    width: 100%;
}

label {
    display: block;
    margin-left: 20px;
    font-weight: bold;
    text-align: left;
    width: 100%;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: calc(100% - 22px);
    height: 60px;

    font-size: 20px;

    padding: 10px;
    margin: 0px;

    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

@keyframes colorFlow {
    0% {
        background-color: rgb(241, 109, 74);
    }
    50% {
        background-color: #eb690c;
    }
    100% {
        background-color: rgb(241, 109, 74);
    }
}

input[type="submit"] {
    width: calc(100% - 22px);

    font-size: 30px;
    font-family: "Berlin Sans FB";

    padding: 10px;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
    animation: colorFlow 7s infinite;
}

input[type="submit"]:hover {
    transform: scale(1.1);
}

#registro-form {
    width: 500px;
    height: 600px;

    background-color: white;

    font-size: 30px;

    border-radius: 10px;
    margin: 0 auto;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recuadro h1 {
    font-size: 70px;
}

.login-recuadro {
    border: 2px solid black;
    padding: 20px;
    margin: 20px auto;
    width: 400px; /* Establece un ancho fijo para el recuadro */
    background-color: white;
    border-radius: 10px;
    transition: box-shadow 0.3s ease; /* Añade una transición suave */
}

.login-recuadro:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Añade una sombra al hacer hover */
}
